.home {
    .present-me {
        .item-card {
            padding: 35px;
            background: #212428;
            box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
            border-radius: 10px 10px 0 0;
        }
    }
}